@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome-4.2.0/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('font-awesome-4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('font-awesome-4.2.0/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('font-awesome-4.2.0/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('font-awesome-4.2.0/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  font-family: 'fontAwesome';
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.logo-icon:before {
  content: "\f1cc";
  font-size: 2em;
  color: red;
}
/* 			    */
/* Border Stuff */
/*			    */
/*                 */
/*      Colours    */
/*                 */
/*   Colours End  */
html {
  color: #333;
  background-color: #f0eeee;
  font-family: 'Open Sans', sans-serif;
}
/*

Buttons for clicking.

.btn - A standard button

.btn-nav - A Navigation button

.btn-filter - A Filter button

Example:
  <a href="#" class="btn">I'm a normal button</a>

  <a href="#" class="btn-nav">I'm a Nav Button</a>

  <a href="#" class="btn-filter">I'm a Filter Button</a>

Styleguide 1.0

*/
.btn {
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #7c7c7c;
  padding: 0.5em 5%;
  background-color: red;
  text-decoration: none;
}
.btn-nav {
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #455a64;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 900;
  background: -webkit-linear-gradient(#c9dbe4, #84aec3);
  padding: 10px;
  border: 1px solid #759bab;
  box-shadow: 0 1px 1px 0 #737373;
  margin-right: 5%;
  text-align: center;
  text-shadow: 0px 1px 1px white;
  text-decoration: none;
}
.btn-filter {
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #f0eeee;
  color: #333;
  padding: 0.5em 5%;
  box-shadow: 0 1px 4px 0 #666666;
  text-decoration: none;
}
.btn-filter:hover,
.btn-filter :active {
  background-color: #ff9999;
  color: #252525;
}
/* Typography */
/* End Typography */
/*

fix to get the leftnav bar in Odoo to display as dictated in design. Very Hacky due to Odoo's use of direct child selectors

.oe_leftbar.nh_kiosk_nav - Tells the default Odoo left navigation to show in kiosk mode
.nh_kiosk_nav > div .oe_logo - Floats the logo to left so the navigation can go to the right
.nh_kiosk_nav > div .oe_footer - Hides the footer as isn't needed in kiosk mode
.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container - Contains the navigation lists, removes absolute positioning and overflow hiding
.nh_kiosk_nav > div > div > div div.oe_secondary_menu_container .oe_secondary_menu_section - is the navigation list header, floated left to make inline
.nh_kiosk_nav > div > div > div div.oe_secondary_menu_container .oe_secondary_submenu - is the navigation list, floated left to make inline

Example:
  <div class="oe_webclient">
    <div class="oe_leftbar nh_eobs_show nh_kiosk_nav" style="display: block;">
      <div groups="base.group_user,base.group_portal">
        <a class="oe_logo" href="/web">
          <span class="oe_logo_edit">Edit Company data</span>
          <img src="http://localhost:8169/web/binary/company_logo?company=1">
        </a>
        <div>
          <div>
            <div class="oe_secondary_menus_container">
              <div style="" class="oe_secondary_menu" data-menu-parent="145">
                <div class="oe_secondary_menu_section">Patient Management</div>
                <ul class="oe_secondary_submenu nav nav-pills nav-stacked">
                  <li class="active">
                    <a href="/web#menu_id=165&amp;action=143" class="oe_menu_leaf" data-menu="165" data-action-model="ir.actions.act_window" data-action-id="143">
                      <span class="oe_menu_text">Patients Board</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=168&amp;action=144" class="oe_menu_leaf" data-menu="168" data-action-model="ir.actions.act_window" data-action-id="144">
                      <span class="oe_menu_text">Patients by Ward</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=169&amp;action=145" class="oe_menu_leaf" data-menu="169" data-action-model="ir.actions.act_window" data-action-id="145">
                      <span class="oe_menu_text">Recently Discharged</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=170&amp;action=146" class="oe_menu_leaf" data-menu="170" data-action-model="ir.actions.act_window" data-action-id="146">
                      <span class="oe_menu_text">Recently Transferred</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=147&amp;action=150" class="oe_menu_leaf" data-menu="147" data-action-model="ir.actions.act_window" data-action-id="150">
                      <span class="oe_menu_text">Patients without bed</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=172&amp;action=166" class="oe_menu_leaf" data-menu="172" data-action-model="ir.actions.act_window" data-action-id="166">
                      <span class="oe_menu_text">Doctor Tasks</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=173&amp;action=155" class="oe_menu_leaf" data-menu="173" data-action-model="ir.actions.act_window" data-action-id="155">
                      <span class="oe_menu_text">Overdue Tasks</span>
                    </a>
                  </li>
                </ul>
                <div class="oe_secondary_menu_section">Ward Management</div>
                <ul class="oe_secondary_submenu nav nav-pills nav-stacked">
                  <li>
                    <a href="/web#menu_id=149&amp;action=142" class="oe_menu_leaf" data-menu="149" data-action-model="ir.actions.act_window" data-action-id="142">
                      <span class="oe_menu_text">Cancel Notifications</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=150&amp;action=156" class="oe_menu_leaf" data-menu="150" data-action-model="ir.actions.act_window" data-action-id="156">
                      <span class="oe_menu_text">Active Points of Care</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=151&amp;action=157" class="oe_menu_leaf" data-menu="151" data-action-model="ir.actions.act_window" data-action-id="157">
                      <span class="oe_menu_text">Inactive Points of Care</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=174&amp;action=148" class="oe_menu_leaf" data-menu="174" data-action-model="ir.actions.act_window" data-action-id="148">
                      <span class="oe_menu_text">Activity Workload</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=153&amp;action=154" class="oe_menu_leaf" data-menu="153" data-action-model="ir.actions.act_window" data-action-id="154">
                      <span class="oe_menu_text">Staff Management</span>
                    </a>
                  </li>
                  <li>
                    <a href="/web#menu_id=152&amp;action=159" class="oe_menu_leaf" data-menu="152" data-action-model="ir.actions.act_window" data-action-id="159">
                      <span class="oe_menu_text">Ward Dashboard</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="oe_footer">Powered by <a href="http://www.neovahealth.co.uk" target="_blank"><span>NHClinical / Odoo</span></a></div>
      </div>
    </div>
    <div class="oe_application"></div>
  </div>

Styleguide 5.0

*/
/*csslint adjoining-classes: false */
.oe_leftbar.nh_kiosk_nav {
  width: 100%;
}
.oe_leftbar.nh_kiosk_nav > div {
  height: inherit;
  display: inline-block;
  width: 100%;
}
.oe_leftbar.nh_kiosk_nav > div .oe_logo {
  width: 10%;
  float: left;
}
.oe_leftbar.nh_kiosk_nav > div .oe_footer {
  display: none;
}
.oe_leftbar.nh_kiosk_nav > div > div {
  display: inline-block;
  width: 90%;
  height: inherit;
}
.oe_leftbar.nh_kiosk_nav > div > div > div {
  height: inherit;
  width: 100%;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_menu_section {
  width: inherit;
  float: left;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu {
  float: left;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu:before {
  display: inline;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu:after {
  clear: none;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li {
  float: left;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li a .oe_menu_text {
  max-width: inherit;
}
