i {
  font-family: 'fontAwesome';
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.logo-icon:before {
  content: "\f1cc";
  font-size: 2em;
  color: red;
}
/* 			    */
/* Border Stuff */
/*			    */
/*                 */
/*      Colours    */
/*                 */
/*   Colours End  */
html {
  color: #333;
  background-color: #f0eeee;
  font-family: 'Open Sans', sans-serif;
}
/*

Buttons for clicking.

.btn - A standard button

.btn-nav - A Navigation button with Hover state as Active

.btn-filter - A Filter button with Hover state as Active

Example:
  <a href="#" class="btn">I'm a normal button</a>

  <a href="#" class="btn-nav">Nav Button</a>

  <a href="#" class="btn-filter">Filter Button</a>

  <a href="#" class="btn-task">Task Button</a>

Styleguide 1.0

*/
.btn {
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #7c7c7c;
  padding: 0.5em 5%;
  background-color: red;
  text-decoration: none;
}
.btn-nav {
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #455a64;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 900;
  background: -webkit-linear-gradient(#c9dbe4, #84aec3);
  padding: 10px;
  border: 1px solid #759bab;
  box-shadow: 0 1px 1px 0 #737373;
  margin-right: 5%;
  text-align: center;
  text-shadow: 0px 1px 1px white;
  text-decoration: none;
}
.btn-nav:hover,
.btn-nav :active {
  font-weight: 700;
  background: -webkit-linear-gradient(#7195a6, #90acba);
  border: 1px solid #2d5769;
  box-shadow: 0 0 3px 1px #f4f8fc, 0 1px 4px 0 #666666 inset;
  color: white;
  text-shadow: 0px 1px 1px #666666;
}
.btn-nav:hover:after,
.btn-nav :active:after {
  position: absolute;
  font-family: 'FontAwesome';
  margin-top: 1em;
  margin-left: -2.3%;
  text-shadow: 0 1px 4px 0 black inset;
  content: "\f0de";
  font-size: 3em;
  color: #dedede;
}
.btn-filter {
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #f0eeee;
  font-size: 1.125em;
  color: #333;
  padding: 10px;
  box-shadow: 0 1px 4px 0 #666666;
  text-decoration: none;
  text-align: center;
}
.btn-filter:hover,
.btn-filter :active {
  background-color: #B4DEA6;
  color: #252525;
}
.btn-task {
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 1.125em;
  background: -webkit-linear-gradient(#09b6ff, #0072a2);
  padding: 10px;
  border: 1px solid #0D5571;
  box-shadow: 0 1px 2px 0 white inset;
  margin-right: 5%;
  text-align: center;
  text-shadow: 0px 1px 1px #808080;
  text-decoration: none;
}
.background {
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: #dedede;
  box-shadow: 0 0 3px 1px #ffffff, 0 0px 1px 3px #b3b3b3 inset;
  width: 100%;
  height: 5em;
}
/*

Navigational Stuff

.navbar - Background for main tabs

Example:

  <header>
    <div class="navbar">
      <ul>
        <li><a href="#">Patient Dashboards</a></li>
        <li><a href="#">Ward Dashboards</a></li>
      </ul>
      <div class="log-in">
        <div class="name">
          <img src="#"/>
          <p>Robert Bond</p>
        </div>
        <div class="drop-down">
         <a class=""></a>
        </div>
      </div>
    </div>
  </header>

Styleguide 2.0

*/
header .navbar {
  background: -webkit-linear-gradient(#424242, #282828);
  width: 100%;
}
header .navbar a {
  text-decoration: none;
  color: white;
}
header .navbar ul li {
  background: -webkit-linear-gradient(#4b4b4b, #181818);
  border: 1px solid black;
  display: inline-block;
  margin-right: 5%;
  padding: 2%;
  list-style: none;
  font-size: 1.125em;
}
header .navbar ul li:active,
header .navbar ul li :hover {
  background: -webkit-linear-gradient(#181818, #656565);
}
/* Typography */
/* End Typography */
/*

fix to get the leftnav bar in Odoo to display as dictated in design. Very Hacky due to Odoo's use of direct child selectors

.oe_leftbar.nh_kiosk_nav - Tells the default Odoo left navigation to show in kiosk mode
.nh_kiosk_nav > div .oe_logo - Floats the logo to left so the navigation can go to the right
.nh_kiosk_nav > div .oe_footer - Hides the footer as isn't needed in kiosk mode
.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container - Contains the navigation lists, removes absolute positioning and overflow hiding
.nh_kiosk_nav > div > div > div div.oe_secondary_menu_container .oe_secondary_menu_section - is the navigation list header, floated left to make inline
.nh_kiosk_nav > div > div > div div.oe_secondary_menu_container .oe_secondary_submenu - is the navigation list, floated left to make inline
.nav-stacked > li + li - Removes 2px margin top assigned to first button

Example:
  <div class="openerp">
    <div class="oe_webclient">
      <div class="oe_leftbar nh_eobs_show nh_kiosk_nav" style="display: block;">
        <div groups="base.group_user,base.group_portal">
          <a class="oe_logo" href="/web">
            <span class="oe_logo_edit">Edit Company data</span>
            <img src="img/company_logo.png">
          </a>
          <div>
            <div>
              <div class="oe_secondary_menus_container">
                <div style="" class="oe_secondary_menu" data-menu-parent="145">
                  <div class="oe_secondary_menu_section">Patient Management</div>
                  <ul class="oe_secondary_submenu nav nav-pills nav-stacked">
                    <li class="active">
                      <a href="#" class="oe_menu_leaf" data-menu="165" data-action-model="ir.actions.act_window" data-action-id="143">
                        <span class="oe_menu_text">Patients Board</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="oe_menu_leaf" data-menu="168" data-action-model="ir.actions.act_window" data-action-id="144">
                        <span class="oe_menu_text">Patients by Ward</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="oe_menu_leaf" data-menu="169" data-action-model="ir.actions.act_window" data-action-id="145">
                        <span class="oe_menu_text">Recently Discharged</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="oe_menu_leaf" data-menu="170" data-action-model="ir.actions.act_window" data-action-id="146">
                        <span class="oe_menu_text">Recently Transferred</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="oe_menu_leaf" data-menu="147" data-action-model="ir.actions.act_window" data-action-id="150">
                        <span class="oe_menu_text">Patients without bed</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="oe_menu_leaf" data-menu="172" data-action-model="ir.actions.act_window" data-action-id="166">
                        <span class="oe_menu_text">Doctor Tasks</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="oe_footer">Powered by <a href="http://www.neovahealth.co.uk" target="_blank"><span>NHClinical / Odoo</span></a></div>
        </div>
      </div>
      <div class="oe_application"></div>
    </div>
  </div>

Styleguide 5.0

*/
/*csslint adjoining-classes: false */
.oe_leftbar.nh_kiosk_nav {
  width: 100%;
}
.oe_leftbar.nh_kiosk_nav > div {
  height: inherit;
  display: inline-block;
  width: 100%;
}
.oe_leftbar.nh_kiosk_nav > div .oe_logo {
  width: 10%;
  float: left;
}
.oe_leftbar.nh_kiosk_nav > div .oe_logo img {
  width: 100%;
}
.oe_leftbar.nh_kiosk_nav > div .oe_footer {
  display: none;
}
.oe_leftbar.nh_kiosk_nav > div > div {
  display: inline-block;
  width: 90%;
  height: inherit;
}
.oe_leftbar.nh_kiosk_nav > div > div > div {
  height: inherit;
  width: 100%;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_menu_section {
  display: none;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu {
  float: left;
  width: 100%;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu:before {
  display: inline;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu:after {
  clear: none;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li {
  float: left;
  padding-right: 1%;
  padding-bottom: 1em;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li a {
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #455a64;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 900;
  background: #84aec3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c9dbe4 0%, #84aec3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9dbe4), color-stop(100%, #84aec3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(#c9dbe4, #84aec3);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c9dbe4 0%, #84aec3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c9dbe4 0%, #84aec3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c9dbe4 0%, #84aec3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9dbe4', endColorstr='#84aec3', GradientType=0);
  /* IE6-9 */
  padding: 10px;
  border: 1px solid #759bab;
  box-shadow: 0 1px 1px 0 #737373;
  text-align: center;
  text-shadow: 0 1px 1px white;
  text-decoration: none;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li a .oe_menu_text {
  max-width: inherit;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li:last-child {
  padding-right: 0;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li.active a {
  font-weight: 700;
  background: -webkit-linear-gradient(#7195a6, #90acba);
  border: 1px solid #2d5769;
  box-shadow: 0 0 3px 1px #f4f8fc, 0 1px 4px 0 #666666 inset;
  color: white;
  text-shadow: 0 1px 1px #666666;
}
.oe_leftbar.nh_kiosk_nav > div > div > div div.oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li.active:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: 1.4em;
  left: 33%;
  text-shadow: 0 3px 0px #dedede, 0 0 4px #000000, 0 2px 2px #dedede;
  content: "\f0de";
  font-size: 3em;
  color: #dedede;
}
.oe_leftbar.nh_kiosk_nav .nav-stacked > li + li {
  margin-top: 0;
}
.example .oe_application {
  height: 5em;
  background-color: #dedede;
  box-shadow: 0px 0px 4px black;
}
.example .oe_secondary_menu {
  margin-top: 2em;
}
.example .oe_secondary_submenu li {
  padding-bottom: 0 !important;
}
.example .oe_secondary_submenu {
  margin: 0 !important;
  padding: 0 !important;
}
.example .oe_secondary_submenu .active:after {
  left: 4.7% !important;
}
