/*

Buttons for clicking.

.btn - A standard button

.btn-nav - A Navigation button with Hover state as Active

.btn-filter - A Filter button with Hover state as Active

Example:
  <a href="#" class="btn">I'm a normal button</a>

  <a href="#" class="btn-nav">Nav Button</a>

  <a href="#" class="btn-filter">Filter Button</a>

  <a href="#" class="btn-task">Task Button</a>

Styleguide 1.0

*/

.btn {

        .border-radius;

    border: 1px solid rgb(124,124,124);
    padding: 0.5em 5%;
    background-color: red;

    text-decoration:none;

}

.btn-nav{

        .border-radius;

    color: #455a64;

    display:inline-block;

    font-size:@nav-tab;
    font-weight:900;
    background: -webkit-linear-gradient( lighten(#84aec3, 20%), #84aec3 );

    padding:10px;
    border:1px solid #759bab;
    box-shadow:0 1px 1px 0 lighten(black, 45%);

    margin-right:5%;

    text-align:center;
    text-shadow: 0px 1px 1px white;
    text-decoration:none;


   &:hover, :active {
     font-weight:700;
     background: -webkit-linear-gradient( #7195a6, lighten(#7195a6, 10%) );
     border:1px solid #2d5769;
     box-shadow:0 0 3px 1px lighten(@eobsBlue, 45%), 0 1px 4px 0 lighten(black, 40%) inset;
     color: white;
     text-shadow: 0px 1px 1px lighten(black, 40%);

     &:after {
       position:absolute;
       font-family: 'FontAwesome';
       margin-top:1em;
       margin-left:-2.3%;
       text-shadow: 0 1px 4px 0 black inset;
       content:"\f0de";
       font-size:3em;
       color: @innerBG;
     }
   }
}


.btn-filter {

        .border-radius;

    background-color:@mainBG;
    font-size:@nav-tab;
    color:#333;
    padding:10px;
    box-shadow: 0 1px 4px 0 lighten(black, 40%);

    text-decoration:none;
    text-align:center;


        &:hover, :active {

        background-color:  #B4DEA6;
        color:#252525;

        }
}

.btn-task {

        .border-radius;

    color: white;

    display:inline-block;

    font-size:@nav-tab;
    background: -webkit-linear-gradient( lighten(#0072A2, 20%), #0072A2 );

    padding:10px;
    border:1px solid #0D5571;
    box-shadow:0 1px 2px 0 white inset;

    margin-right:5%;

    text-align:center;
    text-shadow: 0px 1px 1px lighten(black,50%);
    text-decoration:none;

}


.background {

//background: repeating-linear-gradient(to right, @innerBG, red 15px, black 15px, blue 30px);

    .border-radius;


background: @innerBG;
box-shadow:0 0 3px 1px white, 0 0px 1px 3px lighten(black, 70%) inset;
width:100%;
height:5em;

//border: 1px solid white;

}