/*

New Version of the Patient Referral Form - change of layout, sections built for touch screen/ buttons.

.dummy-style - style to test

Example:

		<div class="ref-nav-tabs">
			<ul>
				<li><a href="#patient-info">Patient Information</a></li>
				<li><a href="#medical">Medical</a></li>
				<li><a href="#emergency-clinic"</a>Emergency GP Access Clinic</li>
				<li><a href="#speciality">Speciality</a></li>
				<li><a href="#additional-info"</a>Aditional Information</li>
				<li class="cancel"><a href="#">Cancel</a></li>
			</ul>
		</div>



<form>
 <div id="patient-info">

        <fieldset>
            <h2>Source of Referral</h2>
                <ul class="src-list">
                    <li>
                        <span class="radio">GP</span>
                            <input class="radio" type="radio" name="src" value="GP">
                        <span class="radio-selected">GP</span>
                    </li>
                    <li>
                        <span class="radio">UCC</span>
                            <input class="radio" type="radio" name="src" value="UCC">
                        <span class="radio-selected">UCC</span>
                    </li>
                    <li>
                        <span class="radio">A&E</span>
                            <input class="radio" type="radio" name="src" value="AE">
                        <span class="radio-selected">A&E</span>
                    </li>
                    <li>
                        <span class="radio">EAU</span>
                            <input class="radio" type="radio" name="src" value="eau">
                        <span class="radio-selected">EAU</span>
                    </li>
                    <li>
                        <span class="radio">WIC</span>
                            <input class="radio" type="radio" name="src" value="wic">
                        <span class="radio-selected">WIC</span>
                    </li>
                    <li>
                        <span class="radio">LTxC</span>
                            <input class="radio" type="radio" name="src" value="ltxc">
                        <span class="radio-selected">LTxC</span>
                    </li>
                    <li>
                        <span class="radio">OPD</span>
                            <input class="radio" type="radio" name="src" value="opd">
                        <span class="radio-selected">OPD</span>
                    </li>
                    <li>
                        <span class="src">MAC</span>
                            <input class="src" type="radio" name="src" value="mac">
                        <span class="src-selected">MAC</span>
                    </li>
                    <li>
                        <span class="src">COMM</span>
                            <input class="src" type="radio" name="src" value="comm">
                        <span class="src-selected">COMM</span>
                    </li>
                    <li>
                        <span class="src">MATRON</span>
                            <input class="src" type="radio" name="src" value="matron">
                        <span class="src-selected">MATRON</span>
                    </li>
                    <li>
                        <span class="src">HOSPICE</span>
                            <input class="src" type="radio" name="src" value="hospice">
                        <span class="src-selected">HOSPICE</span>
                    </li>
                    <li>
                        <span class="src">CONS</span>
                            <input class="src" type="radio" name="src" value="cons">
                        <span class="src-selected">CONS</span>
                    </li>
                </ul>
        </fieldset>


<div class="row-one">



        <div class="gp-search">

            <h2>GP</h2>
                <p>GP Surgery</p>
                <input type="search">
                <button class="btn-drop"></button>
        </div>

  <div class="patient-details">

    <h2>Patient Details</h2>

        <div class="pat-search">

                <p>Patient Search</p>
                <input type="search">
                <button class="btn-drop"></button>
        </div>


        <div class="nhs-no">
            <fieldset>
                <p>NHS Number</p>
                    <ul>
                        <li><input class="first-box" type="number" min="000" max="999"></li>
                        <li><input class="mid-box" type="number" min="000" max="999"></li>
                        <li><input class="last-box" type="number" min="0000" max="9999"></li>
                    </ul>
            </fieldset>
        </div>

        <div class="hosp-no">
            <fieldset>
                <p>Hosptial Number</p>
                <input class="one-box" type="number">
            </fieldset>
        </div>
    </div>
</div>

<div class="row-two">

	<div class="pat-name">
		<fieldset>
			    <ul>
                    <li>First Name:<br>
                    <input class="first-box" type="text" name="firstname"></li>
                    <li>Middle Name(s):<br>
                    <input class="mid-box" type="text" name="middlename"></li>
                    <li>Last name:<br>
                    <input class="last-box" type="text" name="lastname"></li>
				</ul>
		</fieldset>
    </div>

		<fieldset>
			<p>Date of Birth</p>
			<input class="first-box" type="number" min="00" max="99"><input class="mid-box" type="number" min="00" max="99"><input class="last-box" type="number" min="00" max="99">
		</fieldset>

		<fieldset>
			<p>Gender</p>
				<ul class="gen-list">
					<li><input type="radio" name="gen" value="not-specified">Not Specified</li>
					<li><input type="radio" name="gen" value="male">Male</li>
					<li><input type="radio" name="gen" value="female">Female</li>
					<li><input type="radio" name="gen" value="both">Both</li>
					<li><input type="radio" name="gen" value="intermediate">Intermediate</li>
					<li><input type="radio" name="gen" value="nknown">Unknown</li>
				</ul>
		</fieldset>
</div>

<div class="row-three">
		<fieldset>
			<p>Postcode</p>
				<input class="first-box" type="text" maxlength="3"><input class="last-box"type="text" maxlength="3">
		</fieldset>

		<fieldset>
			<p>Resides</p>
				<ul class="res-list">
					<li><input type="radio" name="res" value="home">Home</li>
					<li><input type="radio" name="res" value="resident">Res/Home</li>
					<li><input type="radio" name="res" value="nursery">N/Home</li>
				</ul>
		</fieldset>
</div>

		<fieldset>
			<p>Ethnicity</p>
				<ul class="eth-list">
					<li><input type="radio" name="eth" value="not-stated">Not Stated</li>
				<br>
					White: <br>
					<li><input type="radio" name="eth" value="british">British</li>
					<li><input type="radio" name="eth" value="irish">Irish</li>
					<li><input type="radio" name="eth" value="white-other">Other</li>
				<br>
					Black: <br>
					<li><input type="radio" name="eth" value="caribbean">Caribbean</li>
					<li><input type="radio" name="eth" value="african">African</li>
					<li><input type="radio" name="eth" value="black-other">Other</li>
				<br>
					Mixed: <br>
					<li><input type="radio" name="eth" value="mixed-caribbean">White and Black Caribbean</li>
					<li><input type="radio" name="eth" value="mixed-african">White and Black African</li>
					<li><input type="radio" name="eth" value="mixed-asian">White and Asian</li>
					<li><input type="radio" name="eth" value="mixed-other">Other</li>
				<br>
					Asian: <br>
					<li><input type="radio" name="eth" value="mixed-caribbean">Indian</li>
					<li><input type="radio" name="eth" value="mixed-african">Pakistani</li>
					<li><input type="radio" name="eth" value="mixed-asian">Bangladeshi</li>
					<li><input type="radio" name="eth" value="mixed-other">Other</li>
					<hr>
					<li><input type="radio" name="eth" value="chinese">Chinese</li>
					<hr><li><input type="radio" name="eth" value="other-group">Other Ethnic Group</li>


				</ul>
		</fieldset>

</div>


<div id="medical">

    <h2>Medical</h2>

      <div class="observations">
          <p class="title">Observations</p>
            <table>
              <tr>
                <td>Temperature</td>
                <td><input class="one-box" type="number" name="temp"> C </td>
              </tr>
              <tr>
                <td>Pulse Rate</td>
                <td><input class="one-box" type="number" name="pulse"> BPM </td>
              </tr>
              <tr>
                <td>Blood Pressure</td>
                <td><input class="first-box" type="number" name="systolic" placeholder="Systolic"> / <input class="last-box" type="number" name="diastolic" placeholder="Diastolic"> mm Hg </td>
              </tr>
              <tr>
                <td>Respiratory Rate</td>
                <td><input class="one-box" type="number" name="resp-rate"> RR </td>
              </tr>
              <tr>
                <td>Weight</td>
                <td><input class="one-box" type="number" name="weight"> st </td>
              </tr>
            </table>
      </div>

        <div class="free-text">

            <p>Symptoms/ Investigations - Treatment</p>

                <textarea class="half-width">
                </textarea>

            <p>Flu/Cough - Travel/Infection - Concerns?</p>

                <textarea class="half-width">
                </textarea>

            <p>Past Medical History</p>

                <textarea class="full-width">
                </textarea>

            <p>Possible Diagnosis</p>

                <textarea class="full-width">
                </textarea>

            <p>Allergies</p>

                <textarea class="full-width">
                </textarea>

        </div>

</div>


<div id="emergency-clinic">

    <h2>Emergency GP Access Clinic</h2>

    <fieldset>
        <p>Date & Time</p>
            <input type="date" min="000" max="999">
            <button class="btn-date"></button>
    </fieldset>

    <p>Reason for Referral</p>

    <textarea class="full-width">
    </textarea>

    <fieldset>
        <ul class="med-list">
            <p>Medication List Required?</p>
                <li><input type="radio" name="med" value="yes">Yes</li>
                <li><input type="radio" name="med" value="no">No</li>
        </ul>
	</fieldset>


</div>

<div id="additional-info">

    <h2>Additional Information</h2>

        <ul class="elsewhere">
            <p>Can the Patient be treated elsewhere?</p>
                <li><input type="radio" name="elsewhere-options" value="yes">Yes</li>
                <li><input type="radio" name="elsewhere-options" value="no">No</li>
            <ul class="discussed">
                <p>Were options discussed with the GP?</p>
                    <li><input type="radio" name="discussed-options" value="yes">Yes</li>
                    <li><input type="radio" name="discussed-options" value="no">No</li>
                    <li><input type="radio" name="discussed-options" value="na">N/A</li>
                <ul class="chosen">
                 <p>Did the GP choose any other option?</p>
                        <li><input type="radio" name="chosen-options" value="yes">Yes</li>
                        <li><input type="radio" name="chosen-options" value="no">No</li>
                    <textarea>
                    </textarea>
                </ul>
            </ul>
         </ul>


    <fieldset>
        <ul class="tick-list">
             <li><input type="checkbox" name="letter" value="letter">Letter Requested?</li>
             <li><input type="checkbox" name="letter" value="letter">Ambulance?</li>
        </ul>
    </fieldeset>


    <fieldset>
        <ul class="contact-list">
            <p>First Point of Conatct List</p>
                <li><input type="radio" name="contact" value="eau">EAU</li>
                <li><input type="radio" name="contact" value="ae">A&E</li>
                <li><input type="radio" name="contact" value="ae">ACC</li>
                <li><input type="radio" name="contact" value="ae">SMDU</li>
                <li><input type="radio" name="contact" value="ae">Clinic</li>
        </ul>
	</fieldset>

	<fieldset>
        <ul class="averted-list">
            <p>Averted In</p>
                <li><input type="radio" name="averted" value="comm">Community</li>
                <li><input type="radio" name="averted" value="clinic">Clinic</li>
                <li><input type="radio" name="averted" value="ae">A&E</li>
                <li><input type="radio" name="averted" value="eau">EAU</li>
                <li><input type="radio" name="averted" value="acu">ACU</li>
                <li><input type="radio" name="averted" value="mobile">Mobile</li>
        </ul>
	</fieldset>

</div>


<div id="speciality">

    <h2>Speciality</h2>

        <div class="speciality-content">

            <ul class="attend-list">
                <p>Advised Attendance at:</p>
                    <li><input type="radio" name="attend" value="EAU">EAU</li>
                    <li><input type="radio" name="attend" value="AE">A&E</li>
                    <li><input type="radio" name="attend" value="ACC">ACC</li>
                    <li><input type="radio" name="attend" value="clinic">Clinic</li>
            </ul>

        <p>Environmental Factors - Social/ Family</p>

            <textarea class="full-width">
            </textarea>

        <p>Speciality</p>
            <input type="search">
            <button class="btn-drop"></button>
            </input>

        </div>
</div>

</form>

<div class="validation-form">

    <h2 class="help">Help</h2>

        <p>The following amendments need to be made to proceed:</p>

    <ul class="error-list">
        <li><div class="action-name">Name</div> and <div class="action-name">Allergies</div> needs to be completed before you can proceed.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet nisl vel ex congue semper. </li>
        <li><div class="action-name">Date of Birth</div> needs to be completed before you can proceed.</li>
    </ul>

</div>


Styleguide 14.0

*/


@import (once) "mixin.less";
@import (once) "typography.less";


body {

background:rgba(254,254,254,0)

}

form {


       border-radius:10px;
       background:white;
       //padding:2%;

       width:90%;
       margin-right:auto;
       margin-left:auto;

       box-shadow:0 2px 2px lighten(black, 50%);
       color:#8f8f8f;

       border:1px solid #E0E0E2;

       h2 {

       color:#546e7a;
       font-weight:300;
       font-size:1.2em;
       background:white;
       padding:0.5em 2% 0.5em 2%;
       margin:0;

       }

}

fieldset {

border:none;
padding:0;
margin:0;

}

input[type="search"], input[type="date"] {

.border-left(5px);
padding:0.5em 2% 0.2em 2%;
box-shadow:1px 0 5px lighten(black,50%)inset;
border:0;

font-size:1em;
color:#333;
font-family:sans-serif;

}

.btn-drop, .btn-date {

.border-right(5px);
margin-left:-0.4em;

border:1px solid #627a85;
.background-gradient(lighten(#759cae, 10%), #759cae);

    &:before {

   font-family: FontAwesome;
   content: "\f0d7";
   color:darken(#7995a2, 20%);
   text-shadow: 0 2px darken(white, 10%);
   font-size: 2em;
   line-height: 1.3em;

    }

    &.btn-date:before {

    content: "\f073"

    }

}

.first-box, .mid-box, .last-box {

padding:1em 2% 1em 2%;
box-shadow:0 0 5px lighten(black,50%)inset;
border:0;

    &.first-box {

    .border-left(5px);

    }

    &.last-box {

    .border-right(5px);

    }

}

.one-box {

    .border-radius(5px);
    padding:1em 2% 1em 2%;
    box-shadow:0 0 5px lighten(black,50%)inset;
    border:0;

}

.half-width, .full-width {

.border-radius(5px);
box-shadow:0 0 5px lighten(black,50%)inset;
border:0;
resize:none;
width:50%;
min-height:7.6em;
padding:0.5em 1% 0.5em 1%;
font-size:1em;
color:#333;

    &:focus {

    //border:1px solid lighten(black, 30%);
    outline:none;
    box-shadow:0 0 5px lighten(black,50%)inset, 0 0 5px lighten(#546e7a, 30%);

    }

    &.full-width {

    width:102%;

    }
}

.ref-nav-tabs {

       width:80%;
       //background:white;
       margin-right:auto;
       margin-left:auto;
       border:none;

        ul {

        margin:0;

                    li {

                    display:inline-block;
                    text-decoration: none;
                    list-style: none;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background:white;
                    padding:1em 1% 1em 1%;

                    //box-shadow:0 2px 2px #646464;
                    border:1px solid #e0e0e0;
                    border-bottom:0;
                    color:#333;

                    //line-height:2em;

                           a {

                           text-decoration:none;
                           color:#333;

                           }

                        &:hover {

                        background:#f5f5f5;

                        }

                        &.cancel {

                       border:1px solid #ee4722;
                       border-bottom:0;
                       .background-gradient(lighten(#fbd2c8, 10%), #fbd2c8);
                       float:right;

                            &:hover {

                           //border:1px solid #ee4722;
                           //.background-gradient(darken(#fbd2c8, 10%), #fbd2c8);

                            }

                        }

                    }
        }
}

h2 {

padding-left:4%;

color: #546e7a;
font-size: 1.5em;
font-weight: 900;

}



.row-one, .row-two, .row-three {

width:100%;
background:#f5f5f5;
//display:block;

    h2 {

    margin:0;
    padding:0.3em 0 0.3em 1%;
    background:white;

    }

    .patient-details {

    float:left;
    width:60%;

    //width:16.2%;

        .pat-search {

        border-right: 1px solid #dadada;
        //width: 45%;
        //float: left;
        padding: 1%;

        }

    }

}

.src-list, .gen-list, .res-list, .eth-list, .attend-list, .med-list, .elsewhere, .discussed, .chosen, .contact-list, .averted-list {

    width:100%;
    text-align:center;
    margin:0;
    padding:0;

        li {

               padding:1%;
               margin-top:1em;
               margin-bottom:1.3em;

               display:inline-block;
               list-style:none;

               border-radius:10px;

               background:#fff;
               color:#555;
               border:1px solid #dcdada;
               box-shadow:0 1px 1px lighten(black, 30%);

               //width:96%;

               &:active, :hover, .pressed {

               background:#d1c4e9;
               border:1px solid #8088b7;
               box-shadow:0 1px 1px lighten(black, 30%)inset;
               color:#2c2c2c
               //margin-top:-0.2em;

               }

        }

}

#patient-info {

background:#f5f5f5;

    h2 {

    .border-top;

    }

    .src-list {

        h2 {

        border-radius:0;

        }

        li {

            input[type="radio"] {

                display:none;
                -webkit-apperance:none;

            }
        }
    }
}

.gp-search {

float: left;
width: 20%;
padding: 0 0 1em 0;

text-align:center;

border-bottom-right-radius: 10px;
border-bottom: 2px solid white;
border-right: 2px solid white;
background: #e7e7e7;


    h2 {

    .border-top(0px);

    width:100%;
    text-align:left;
    margin-bottom:0.5em;
    padding:0.3em 0 0.3em 2%;

    }

    p {

    margin:0 0 0.5em 0;

    }

}

.nhs-no {

min-width: 18%;
float: left;

    ul {

        li {

           padding:2%;
           display:inline-block;
           text-decoration: none;
           list-style: none;

        }

    }

}

.hosp-no {

width:30%;
float:left;

}

.pat-name {

    width:50%;
    float:left;


    ul {

        li {

           //padding:2%;
           display:inline-block;
           text-decoration: none;
           list-style: none;

        }

    }

}

.observations {

border-bottom-left-radius:10px;
border-left:2px solid white;
border-bottom:2px solid white;
background:#cfd8dc;
//padding:2%;
width:48%;
float:right;

color:#333;

    .title {

        border-bottom-right-radius:10px;
        border-right:2px solid white;
        border-bottom:2px solid white;
        width:30%;
        padding: 0 0 0 2%;
        line-height:2em;
        font-size:1.3em;
        margin:0;


    }

        table {

            tr {

                td {

                padding:1em 0 1em 5%;

                }

            }

        }

}

#medical {

background:#f5f5f5;

    .free-text {

    width:92%;
    padding:0 2% 1em 2%;
    //float:left;

    }
}

#emergency-clinic {

background:#f5f5f5;

}

#additional-info {

background:#f5f5f5;

    .elsewhere {

        .discussed {

            .chosen-options {

                textarea {

                box-shadow: 1px 1px 1px lighten(black, 20%)inset;

                }
            }

        }

    }

}


#speciality {

background:#f5f5f5;
.border-bottom;

    .speciality-content {

    padding:2%;

    }

}

.validation-form {

width:50%;
.border-radius;
background:#fde3e1;
border:1px solid #fdbeba;
box-shadow:0 2px 2px lighten(black, 50%);

    h2.help {

    //width:100%;
    .border-top;
    padding:0.5em 0 0.5em 2%;
    margin:0;
    border-bottom:1px solid #fdbeba;
    background:#ffd3d0;
    color:#b57f7c;
    font-weight:800;

    }

    p {

    color:#b18a8a;
    text-align:center;
    margin-bottom:2em;

    }

    .error-list {

        li {

            list-style:none;
            border-bottom:1px solid #fdbeba;
            width:90%;
            line-height:1.5em;
            margin:0 0 1em 5%;
            padding-bottom:1em;
            color:#805b59;

            &:last-child {

            border:none;

            }

        }

        .action-name {

        font-weight:800;
        font-size:1.2em;
        text-shadow:0 1px darken(white, 20%);
        clear:both;
        padding-right:1%;

        }

    }

}