/*

New Version of the Patient Referral Form - change of layout, sections built for touch screen/ buttons.

.dummy-style - style to test

Example:

		<div class="ref-nav-tabs">
			<ul>
				<li><a href="#patient-info">Patient Information</a></li>
				<li><a href="#medical">Medical</a></li>
				<li><a href="#emergency-clinic"</a>Emergency GP Access Clinic</li>
				<li><a href="#speciality">Speciality</a></li>
				<li><a href="#additional-info"</a>Aditional Information</li>
				<li class="cancel"><a href="#">Cancel</a></li>
			</ul>
		</div>



<form>
 <div id="patient-info">

        <fieldset>
            <h2>Source of Referral</h2>
                <ul class="src-list">
                    <li>
                        <input class="radio" type="radio" name="src" value="GP">GP
                    </li>
                    <li>
                        <input class="radio" type="radio" name="src" value="UCC">UCC
                    </li>
                    <li>
                        <input class="radio" type="radio" name="src" value="AE">AE
                    </li>
                    <li>
                        <input class="radio" type="radio" name="src" value="eau">EAU
                    </li>
                    <li>
                        <input class="radio" type="radio" name="src" value="wic">WIC
                    </li>
                    <li>
                        <input class="radio" type="radio" name="src" value="ltxc">LTxC
                    </li>
                    <li>
                        <input class="radio" type="radio" name="src" value="opd">OPD
                    </li>
                    <li>
                        <input class="src" type="radio" name="src" value="mac">MAC
                    </li>
                    <li>
                        <input class="src" type="radio" name="src" value="comm">COMM
                    </li>
                    <li>
                        <input type="radio" name="src" value="matron">MATRON
                    </li>
                    <li>
                        <input type="radio" name="src" value="hospice">HOSPICE
                    </li>
                    <li>
                       <input type="radio" name="src" value="cons">CONS
                    </li>
                </ul>
        </fieldset>


<div class="row-one">



        <div class="gp-search">

            <h2>GP</h2>
                <p>GP Surgery</p>
                <input class="search-box" type="search">
                <button class="btn-drop"></button>
        </div>

  <div class="patient-details">

    <h2>Patient Details</h2>

        <div class="pat-search">

                <p>Patient Search</p>
                <input class="search-box" type="search">
                <button class="btn-drop"></button>
        </div>


        <div class="nhs-no">
            <fieldset>
                <p>NHS Number</p>
                    <ul>
                        <li><input class="first-box" type="number" min="000" max="999"></li>
                        <li><input class="mid-box" type="number" min="000" max="999"></li>
                        <li><input class="last-box" type="number" min="0000" max="9999"></li>
                    </ul>
            </fieldset>
        </div>

        <div class="hosp-no">
            <fieldset>
                <p>Hospital Number</p>
                <input class="one-box" type="number">
            </fieldset>
        </div>
    </div>
</div>

<div class="row-two">

	<div class="pat-name">
		<fieldset>
			    <ul>
                    <li>
                    <p>First Name:</p>
                        <input class="first-box" type="text" name="firstname">
                    </li>
                    <li>
                    <p>Middle Name(s):</p>
                        <input class="mid-box" type="text" name="middlename">
                    </li>
                    <li>
                    <p>Last name:</p>
                        <input class="last-box" type="text" name="lastname">
                    </li>
				</ul>
		</fieldset>
    </div>

    <div class="dob">
        <fieldset>
            <p>Date of Birth</p>
            <ul>
                <li><input class="first-box" type="number" min="00" max="99"></li>
                <li><input class="mid-box" type="number" min="00" max="99"></li>
                <li><input class="last-box" type="number" min="00" max="99"></li>
            </ul>
        </fieldset>
    </div>

    <div class="gender">
        <fieldset>
            <p>Gender</p>
                <ul class="gen-list">
                    <li><input type="radio" name="gen" value="not-specified">Not Specified</li>
                    <li><input type="radio" name="gen" value="male">Male</li>
                    <li><input type="radio" name="gen" value="female">Female</li>
                    <li><input type="radio" name="gen" value="both">Both</li>
                    <li><input type="radio" name="gen" value="intermediate">Intermediate</li>
                    <li><input type="radio" name="gen" value="nknown">Unknown</li>
                </ul>
        </fieldset>
    </div>

</div>

<div class="row-three">

        <div class="postcode">
            <fieldset>
                <p>Postcode</p>
                <ul class="post-list">
                    <li>
                        <input class="first-box" type="text" maxlength="3">
                    </li>
                    <li>
                        <input class="last-box"type="text" maxlength="3">
                    </li>
                </ul>
            </fieldset>
		</div>

        <div class="resides">
            <fieldset>
                <p>Resides</p>
                    <ul class="res-list">
                        <li><input type="radio" name="res" value="home">Home</li>
                        <li><input type="radio" name="res" value="resident">Res/Home</li>
                        <li><input type="radio" name="res" value="nursery">N/Home</li>
                    </ul>
            </fieldset>
		</div>
</div>

    <div class="row-four">

            <fieldset>
                <h2>Ethnicity</h2>
                    <ul class="eth-list">
                        <div class="not-stated">
                                <li><input type="radio" name="eth" value="not-stated">Not Stated</li>
                        </div>
                        <div class="white">
                            <p>White:</p>
                                <li><input type="radio" name="eth" value="british">British</li>
                                <li><input type="radio" name="eth" value="irish">Irish</li>
                                <li><input type="radio" name="eth" value="white-other">Other</li>
                        </div>
                        <div class="black">
                            <p>Black:</p>
                                <li><input type="radio" name="eth" value="caribbean">Caribbean</li>
                                <li><input type="radio" name="eth" value="african">African</li>
                                <li><input type="radio" name="eth" value="black-other">Other</li>
                        </div>
                        <div class="asian">
                            <p>Asian:</p>
                                <li><input type="radio" name="eth" value="mixed-caribbean">Indian</li>
                                <li><input type="radio" name="eth" value="mixed-african">Pakistani</li>
                                <li><input type="radio" name="eth" value="mixed-asian">Bangladeshi</li>
                                <li><input type="radio" name="eth" value="mixed-other">Other</li>
                        </div>
                        <div class="chinese">
                                <li><input type="radio" name="eth" value="chinese">Chinese</li>
                        </div>
                        <div class="mixed">
                            <p>Mixed:</p>
                                <li><input type="radio" name="eth" value="mixed-caribbean">White and Black Caribbean</li>
                                <li><input type="radio" name="eth" value="mixed-african">White and Black African</li>
                                <li><input type="radio" name="eth" value="mixed-asian">White and Asian</li>
                                <li><input type="radio" name="eth" value="mixed-other">Other</li>
                        </div>
                        <div class="other">
                                <li><input type="radio" name="eth" value="other-group">Other Ethnic Group</li>
                        </div>
                    </ul>
            </fieldset>
    </div>
</div>


<div id="medical">

    <h2>Medical</h2>

      <div class="observations">
          <p class="title">Observations</p>
            <table>
              <tr>
                <td>Temperature</td>
                <td><input class="one-box" type="number" name="temp"> C </td>
              </tr>
              <tr>
                <td>Pulse Rate</td>
                <td><input class="one-box" type="number" name="pulse"> BPM </td>
              </tr>
              <tr>
                <td>Blood Pressure</td>
                <td><input class="first-box" type="number" name="systolic" placeholder="Systolic"> / <input class="last-box" type="number" name="diastolic" placeholder="Diastolic"> mm Hg </td>
              </tr>
              <tr>
                <td>Respiratory Rate</td>
                <td><input class="one-box" type="number" name="resp-rate"> RR </td>
              </tr>
              <tr>
                <td>Weight</td>
                <td><input class="one-box" type="number" name="weight"> st </td>
              </tr>
            </table>
      </div>

        <div class="free-text">

            <p>Symptoms/ Investigations - Treatment</p>

                <textarea class="half-width">
                </textarea>

            <p>Flu/Cough - Travel/Infection - Concerns?</p>

                <textarea class="half-width">
                </textarea>

            <p>Past Medical History</p>

                <textarea class="full-width">
                </textarea>

            <p>Possible Diagnosis</p>

                <textarea class="full-width">
                </textarea>

            <p>Allergies</p>

                <textarea class="full-width">
                </textarea>

        </div>

</div>


<div id="emergency-clinic">

    <h2>Emergency GP Access Clinic</h2>

    <div class="emergency-clinic-content">

            <div class="date-time">
                <fieldset>
                    <p>Date & Time</p>
                        <input class="date-box" type="date" min="000" max="999">
                        <button class="btn-date"></button>
                </fieldset>
            </div>

            <div class="med-req">
            <fieldset>
                <ul class="med-list">
                    <p>Medication List Required?</p>
                        <li><input type="radio" name="med" value="yes">Yes</li>
                        <li><input type="radio" name="med" value="no">No</li>
                </ul>
            </fieldset>
            </div>

            <div class="free-text">
                <p>Reason for Referral</p>
                    <textarea class="full-width">
                    </textarea>
            </div>

        </div>
</div>

<div id="additional-info">

    <h2>Additional Information</h2>

        <ul class="elsewhere">
            <p>Can the Patient be treated elsewhere?</p>
                <li><input type="radio" name="elsewhere-options" value="yes">Yes</li>
                <li><input type="radio" name="elsewhere-options" value="no">No</li>
            <ul class="discussed">
                <p class="top">Were options discussed with the GP?</p>
                    <li><input type="radio" name="discussed-options" value="yes">Yes</li>
                    <li><input type="radio" name="discussed-options" value="no">No</li>
                    <li><input type="radio" name="discussed-options" value="na">N/A</li>
                <ul class="chosen">
                    <p>Did the GP choose any other option?</p>
                        <li><input type="radio" name="chosen-options" value="yes">Yes</li>
                        <li><input type="radio" name="chosen-options" value="no">No</li>
                </ul>
                <textarea class="other-option-text" placeholder="Please describe the chosen option here."></textarea>
            </ul>
         </ul>


    <fieldset>
        <ul class="tick-list">
             <li><input type="checkbox" name="letter" value="letter">Letter Requested?</li>
             <li><input type="checkbox" name="letter" value="letter">Ambulance?</li>
        </ul>
    </fieldeset>


    <fieldset>
        <ul class="contact-list">
            <p>First Point of Conatct List</p>
                <li><input type="radio" name="contact" value="eau">EAU</li>
                <li><input type="radio" name="contact" value="ae">A&E</li>
                <li><input type="radio" name="contact" value="ae">ACC</li>
                <li><input type="radio" name="contact" value="ae">SMDU</li>
                <li><input type="radio" name="contact" value="ae">Clinic</li>
        </ul>
	</fieldset>

	<fieldset>
        <ul class="averted-list">
            <p>Averted In</p>
                <li><input type="radio" name="averted" value="comm">Community</li>
                <li><input type="radio" name="averted" value="clinic">Clinic</li>
                <li><input type="radio" name="averted" value="ae">A&E</li>
                <li><input type="radio" name="averted" value="eau">EAU</li>
                <li><input type="radio" name="averted" value="acu">ACU</li>
                <li><input type="radio" name="averted" value="mobile">Mobile</li>
        </ul>
	</fieldset>

</div>


<div id="speciality">

    <h2>Speciality</h2>

        <div class="speciality-content">

            <ul class="attend-list">
                <p>Advised Attendance at:</p>
                    <li><input type="radio" name="attend" value="EAU">EAU</li>
                    <li><input type="radio" name="attend" value="AE">A&E</li>
                    <li><input type="radio" name="attend" value="ACC">ACC</li>
                    <li><input type="radio" name="attend" value="clinic">Clinic</li>
            </ul>

         <p>Speciality</p>
                <input class="search-box" type="search">
            <button class="btn-drop"></button>

        <p>Environmental Factors - Social/ Family</p>

            <textarea class="full-width">
            </textarea>

        </div>
</div>

</form>

<div class="validation-form">

    <h2 class="help">Help</h2>

        <p>The following amendments need to be made to proceed:</p>

    <ul class="error-list">
        <li><div class="action-name">Name</div> and <div class="action-name">Allergies</div> needs to be completed before you can proceed.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet nisl vel ex congue semper. </li>
        <li><div class="action-name">Date of Birth</div> needs to be completed before you can proceed.</li>
    </ul>

</div>


Styleguide 14.0

*/


@import (once) "mixin.less";
@import (once) "typography.less";


body {

background:rgba(254,254,254,0)

}

form {

       border-radius:10px;
       background:white;
       //padding:2%;

       width:90%;
       margin-right:auto;
       margin-left:auto;

       box-shadow:0 2px 2px lighten(black, 50%);
       color:#8f8f8f;

       border:1px solid #E0E0E2;

       h2 {

       color:#546e7a;
       font-weight:300;
       font-size:1.2em;
       background:white;
       padding:0.5em 2% 0.5em 2%;
       margin:0;

       }

}

fieldset {

border:none;
padding:0;
margin:0;

}

.search-box, .date-box {

.border-left(5px);
padding:0.7em 2% 0.35em 2%;
box-shadow:1px 0 5px lighten(black,50%)inset;
border:0;

font-size:1em;
color:#333;
font-family:sans-serif;


    &.date-box {

    padding:0.5em 2% 0.2em 2%;

    }

    &:focus {

    outline:none;
    box-shadow:0 0 5px lighten(black,50%)inset, 0 0 5px lighten(#546e7a, 30%);

    }

}

.btn-drop, .btn-date {

.border-right(5px);
margin-left:-0.4em;

border:1px solid #627a85;
.background-gradient(lighten(#759cae, 10%), #759cae);

    &:before {

   font-family: FontAwesome;
   content: "\f0d7";
   color:darken(#7995a2, 20%);
   text-shadow: 0 2px darken(white, 10%);
   font-size: 2em;
   line-height: 1.3em;

    }

    &.btn-date:before {

    content: "\f073"

    }

}

.first-box, .mid-box, .last-box {

padding:0.7em 2% 0.35em 2%;
box-shadow:0 0 5px lighten(black,50%)inset;
border:0;
font-size:1em;
color:#333;
font-family:sans-serif;

    &.first-box {

    .border-left(5px);

    }

    &.last-box {

    .border-right(5px);

    }

    &:focus {

    outline:none;
    box-shadow:0 0 5px lighten(black,50%)inset, 0 0 5px lighten(#546e7a, 30%);

    }

}

.one-box {

    .border-radius(5px);
    padding:1em 2% 1em 2%;
    box-shadow:0 0 5px lighten(black,50%)inset;
    border:0;

    &:focus {

    outline:none;
    box-shadow:0 0 5px lighten(black,50%)inset, 0 0 5px lighten(#546e7a, 30%);

    }


}

.half-width, .full-width, .other-option-text {

.border-radius(5px);
box-shadow:0 0 5px lighten(black,50%)inset;
border:0;
resize:none;
width:50%;
min-height:7.6em;
padding:0.5em 1% 0.5em 1%;
font-size:1em;
color:#373b4f;

    &:focus {

    //border:1px solid lighten(black, 30%);
    outline:none;
    box-shadow:0 0 5px lighten(black,50%)inset, 0 0 5px lighten(#546e7a, 30%);

    }

    &.full-width {

    width:102%;

    }

    &.other-option-text {

    width:80%;
    margin-bottom:1em;
    padding: 4%;
    //background-image:url(http://archive.garron.us/img/2011/cyberduck.png);
    //background-size: 4px 4px;
    //background-repeat: no-repeat;


       &:before {

       position: absolute;
       font-family: 'FontAwesome';
       margin-top: -0.4em;
       margin-left: -9.3%;
       text-shadow: 0 1px 4px 0 black inset;
       content: "\f0de";
       font-size: 3em;
       color: white;

       }

    }
}

.ref-nav-tabs {

       width:80%;
       //background:white;
       margin-right:auto;
       margin-left:auto;
       border:none;

        ul {

        margin:0;

                    li {

                    display:inline-block;
                    text-decoration: none;
                    list-style: none;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background:white;
                    padding:1em 1% 1em 1%;

                    //box-shadow:0 2px 2px #646464;
                    border:1px solid #e0e0e0;
                    border-bottom:0;
                    color:#333;

                    //line-height:2em;

                           a {

                           text-decoration:none;
                           color:#333;

                           }

                        &:hover {

                        background:#f5f5f5;

                        }

                        &.cancel {

                       border:1px solid #ee4722;
                       border-bottom:0;
                       .background-gradient(lighten(#fbd2c8, 10%), #fbd2c8);
                       float:right;

                            &:hover {

                           //border:1px solid #ee4722;
                           //.background-gradient(darken(#fbd2c8, 10%), #fbd2c8);

                            }

                        }

                    }
        }
}

h2 {

padding-left:4%;

color: #546e7a;
font-size: 1.5em;
font-weight: 900;

}



.row-one, .row-two, .row-three {

width:100%;
background:#f5f5f5;
//display:block;

    h2 {

    margin:0;
    padding:0.3em 0 0.3em 1%;
    background:white;

    }

    .patient-info {

    .border-top;

    }

}

.src-list, .gen-list, .res-list, .eth-list, .attend-list, .med-list, .elsewhere, .discussed, .chosen, .contact-list, .averted-list, .tick-list {

    width:100%;
    margin:0;
    padding:0;

        li {

               padding:0.5em 2% 0.5em 2%;
               //margin-top:1em;
               margin:0 1% 1.3em 1%;

               display:inline-block;
               list-style:none;

               border-radius:10px;

               background:#fff;
               color:#555;
               border:1px solid #dcdada;
               box-shadow:0 1px 1px lighten(black, 30%);

               //width:96%;

               &:active, :hover {

               background:#d1c4e9;
               border:1px solid #8088b7;
               box-shadow:0 1px 1px lighten(black, 30%)inset;
               color:#2c2c2c
               //margin-top:-0.2em;

               }

        }

}

#patient-info {

background:#f5f5f5;

    .border-top;

    h2 {

    .border-top;

    }

    .src-list {

            text-align:center;
            margin-top:1em;

        h2 {

        border-radius:0;

        }

        li {

            input[type="radio"] {

                display:none;
                -webkit-apperance:none;

            }
        }
    }
}

.gp-search {

float: left;
width: 20%;
padding: 0 0 1em 0;

text-align:center;

border-bottom-right-radius: 10px;
border-bottom: 3px solid white;
border-right: 3px solid white;
background: #e7e7e7;


    h2 {

    .border-top(0px);

    width:100%;
    text-align:left;
    margin-bottom:0.5em;
    padding:0.3em 0 0.3em 2%;

    }

    p {

    margin:0 0 0.5em 0;

    }

}

.pat-search, .nhs-no, .hosp-no, .pat-name, .dob, .gender, .postcode, .resides, .not-stated , .white , .black , .mixed, .asian, .chinese, .other {

border-right: 1px solid #dadada;
padding: 1em 2% 1em 2%;
float: left;
width: 22%;
text-align: center;

        p {

        margin:0 0 0.5em 0;

        }

        &.nhs-no {

            p {

             margin:0 0 0.1em 0;

            }

        }

        ul {

        padding:0;
        margin:0;

            li {

               padding: 2%;
               display:inline-block;
               text-decoration: none;
               list-style: none;

            }

    }

    &.hosp-no {

    border-right:0;

    }

    &.pat-name {

    width:60%;
    padding:0;

    }

    &.dob {

    border-right:0;
    padding:0.95em 0 0 0;
    width:30%;

                p {

         margin:0 0 0.2em 0;

        }


        ul {

        padding:0;
        margin:0;

            li {

               padding: 1%;
               display:inline-block;
               text-decoration: none;
               list-style: none;

            }
        }

    }

    &.gender {

    border-right:0;
    width:100%;

        ul {

        padding:0;
        margin:0;

            li {

               padding: 1%;
               display:inline-block;
               text-decoration: none;
               list-style: none;
               margin:0;

            }

        }

    }

    &.postcode {

    width:45%;

    }

    &.resides {

    border-right:0;
    width:45%;

    }

    &.not-stated {

    width:10%;
    padding: 2.6em 2% 1em 2%;

    }

    &.white, &.black {

    width:18%;

    }

    &.asian {

    width:22%;

    }

    &.chinese {

    width:11%;
    padding: 2.6em 2% 1.63em 2%;
    border-right:0;

    }

    &.mixed {

    width:75%;

    }

    &.other {

    width:16%;
    padding: 2.6em 2% 1em 2%;
    border-right:0;

    }

}

.observations {

border-bottom-left-radius:10px;
border-left:3px solid white;
border-bottom:3px solid white;
background:#cfd8dc;
//padding:2%;
width:48%;
float:right;

color:#333;

    .title {

        border-bottom-right-radius:10px;
        border-right:3px solid white;
        border-bottom:3px solid white;
        width:30%;
        padding: 0 0 0 2%;
        line-height:2em;
        font-size:1.3em;
        margin:0;


    }

        table {

            tr {

                td {

                padding:1em 0 1em 5%;
                font-size:1.2;
                color:#373b4f;

                }

            }

        }

}

#medical, #emergency-clinic {

background:#f5f5f5;

    .free-text {

    width:92%;
    padding:0 2% 1em 2%;
    //float:left;

    }

    .emergency-clinic-content {

    //padding:2%;

    }

    .date-time {

    width:20%;
    float:left;
    margin-left:2%;

    }

    .med-req {

    float:left;
    width:70%;

    }
}

#additional-info {

background:#f5f5f5;

    .elsewhere {

    width:60%;
    margin-bottom:1em;

        .discussed {

        .border-radius(5px);
        width:45%;
        //margin-right:auto;
        //margin-left:auto;

        box-shadow:0 2px 2px lighten(black, 50%);
        //border:1px solid #E0E0E2;
        text-align:center;

           &:before {

           position: absolute;
           font-family: 'FontAwesome';
           margin-top: -0.4em;
           margin-left: -9.3%;
           content: "\f0de";
           font-size: 3em;
           color: white;
           text-shadow:
               0 0 0 #E0E0E2,
             -1px -1px 0 #E0E0E2,
              1px -1px 0 #E0E0E2,
              -1px 1px 0 #FFF,
               1px 1px 0 #FFF;

           }


            p {

            background:white;
            text-align:center;
            padding:1em 2% 1em 2%;
            margin:0 0 1em 0;

                &.top {

                .border-top;

                }

            }

            .chosen-options {

                textarea {

                box-shadow: 1px 1px 1px lighten(black, 20%)inset;

                }
            }

        }

    }

}


#speciality {

background:#f5f5f5;
.border-bottom;

    .speciality-content {

    padding:2%;

    }

}

.validation-form {

width:50%;
.border-radius;
background:#fde3e1;
border:1px solid #fdbeba;
box-shadow:0 2px 2px lighten(black, 50%);

    h2.help {

    //width:100%;
    .border-top;
    padding:0.5em 0 0.5em 2%;
    margin:0;
    border-bottom:1px solid #fdbeba;
    background:#ffd3d0;
    color:#b57f7c;
    font-weight:800;

    }

    p {

    color:#b18a8a;
    text-align:center;
    margin-bottom:2em;

    }

    .error-list {

        li {

            list-style:none;
            border-bottom:1px solid #fdbeba;
            width:90%;
            line-height:1.5em;
            margin:0 0 1em 5%;
            padding-bottom:1em;
            color:#805b59;

            &:last-child {

            border:none;

            }

        }

        .action-name {

        font-weight:800;
        font-size:1.2em;
        text-shadow:0 1px darken(white, 20%);
        clear:both;
        padding-right:1%;

        }

    }

}